{% extends 'layout.html' %}

{% block body %}
    <h1> About Us</h1>
    <p> Digicognit indulges to transform the Industry 4.0 the information-intensive transformation of manufacturing in a connected environment <br>
        of big data, people, processes, services, systems and IoT-enabled industrial assets with the generation, leverage and utilization of <br>
        actionable data and information as a way and means to realize smart industry and ecosystems of industrial innovation and collaboration.</p>

{% endblock %}